.main_content{
    margin: 0px 10px; 
    padding: 20px; 
}

h1 {
    font-size: 1.5em;
    color: #0f1056;
    margin-bottom: 10px; 
}

.download {
    display: inline-block;
    padding: 12px 24px;
    font-size: 16px;
    color: #f0f8ff;
    background-color: #008cba; 
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.download:hover {
    background-color: #027297;
}

.cv_preview {
    max-width: 800px;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.cv_section {
    border: 2px solid #D3D3D3;
    background-color: #E5E4E2;
    padding: 10px 10px;
}

.section_title {
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow {
    transition: transform 0.3s ease;
}

.section_content {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
    color: #555;
    font-size: 1em;
    line-height: 1.6;
}

.cv_section.active .section_content {
    display: block;
}

.cv_section.active .arrow {
    transform: rotate(180deg);
}
